{% extends 'notes/base.html' %}
{% block title %}Notes{% endblock %}
{% block head %}
	{{ super() }}
	<link href="{{ static('bootstrap-3.3.6/css/bootstrap.css') }}" rel="stylesheet">
	<script src="{{ static('bootstrap-3.3.6/js/bootstrap.js') }}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>

{% endblock %}

{% block content %}
	<div id='notes'></div>

	<script type="text/babel">
		// To get started with this tutorial running your own code, simply remove
		// the script tag loading scripts/example.js and start writing code here.

	</script>

	<div>
		<table>
			<tr>
				<th>Note ID</th>
				<th>Note content</th>
				<th>Time</th>
				<th>Content Type</th>
				<th>Is Public</th>
				<th>Is Delteted</th>
				<th>Tag</th>
			</tr>
			{% for note in notes %}
				<tr>
					<td>{{ note.id }}</td>
					<td>
						{% for text in note.notetext_set.all() %}
							{{ text.text }} - pos: {{ text.position }} - id: {{ text.id }}
						{% endfor %}
					</td>
					<td>{{ note.time }}</td>
					<td>{{ note.content_type }}</td>
					<td>{{ note.is_public }}</td>
					<td>{{ note.is_deleted }}</td>
					<td>
						{% for tag in note.tags.all() %}
							{{ tag }},
						{% endfor %}
					</td>
				</tr>
			{% endfor %}
		</table>

	</div>
	<div id="form">
		<form action="{{ url('notes:index')}}" method="post">
			<div style="display:none">
				<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
			</div>
			<input id="text" type="text" name="text" placeholder="Note here...">
			<input id="tags" type="text" name="tags" placeholder="Tags...">
			<input id="is_public" type="checkbox" name="is_public">
			<label for="is_public">Is Public</label>
			<input type="submit" value="Enter">
		</form>
	</div>


{% endblock %}
