{% extends 'users/base.html' %}
{% block title %}Public Note{% endblock %}

{% block content %}
    <div id='notes'>
    <table>
        <tr>
            <th>Note ID</th>
            <th>User</th>
            <th>Note content</th>
            <th>Time</th>
            <th>Content Type</th>
            <th>Is Public</th>
            <th>Is Delteted</th>
            <th>Tag</th>
            <th>Action</th>
        </tr>
        {% for note in notes %}
            <tr>
                <td>{{ note.id }}</td>
                <td>
                    {% for user in note.users.all() %}
                        {{ user.username }},
                    {% endfor %}
                </td>
                <td>
                    {% for text in note.notetext_set.all() %}
                        {{ text.text }} - pos: {{ text.position }} - id: {{ text.id }}
                    {% endfor %}
                </td>
                <td>{{ note.time }}</td>
                <td>{{ note.content_type }}</td>
                <td>{{ note.is_public }}</td>
                <td>{{ note.is_deleted }}</td>
                <td>
                {% for tag in note.tags.all() %}
                    {{ tag }},
                {% endfor %}
                </td>
                <td>
                    <form action="{{url('notes:add')}}" method="post">
                        <div style="display:none">
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        </div>
                        <input type="hidden" name="note_id" value="{{note.id}}">
                        <input type="submit" value="add note">
                    </form>

                </td>
            </tr>
        {%  endfor %}
    </table>

    </div>
{% endblock %}
